.header {
    padding: 20px 0;
    position: relative; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative; 
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
  }
  
  .header-text {
    margin-bottom: 20px;
  }
  
  .header-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .header-text p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
    position: absolute; 
    top: 0; 
    right: 0; 
  }
  
  .header-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .header-text-and-image {
    padding-top: 15px;
    display: flex;
    width: 100%; 
  }
  
  .header-image-container {
    margin-left: 20px; 
  }
  
  .header-image {
    max-width: 200px; 
    height: auto;
  }
  

.boxContainer{
  position: 'absolute' as 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  bgcolor: 'background.paper';
  border: '2px solid #000';
  boxShadow: 24;
}

.boxSubContainer{
  background-color: #FFFFFF;
  width: 30%;
  height: 40%;
  margin-left:35%;
  margin-top:15%;   
}

.modalHeader{
  background-color: #000035;
  display: flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items: center;
}
.question{
  padding-left: 10%;
}

.primaryQuestionBlock{
  width: 80%;
  margin-left: 10%;
}

  .primaryQuestionBlock{
    width: 80%;
    margin-left: 10%;
}
.ask{
    font-size: "20px";
    font-family: "Lucida Console, Courier, monospace";
 }

 .mainContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .btnContainer{
    display: flex;
    display: row;
    justify-content: space-evenly;
 }

 .innerBlockheader{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items:center;
   background-color: #000035;
 }

  /* Responsive Styles (adjust as needed) */
  @media (max-width: 768px) {
    .header-text-and-image {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .header-image-container {
      margin-top: 20px; 
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 900px) {
    .container {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .header-content {
      width: 100%;
    }

  }
  
  @media (max-width: 600px) {
    .header-text h1 {
      font-size: 2rem;
    }
  
    .header-text p {
      font-size: 1rem;
    }
  }
  
  .logo {
    margin-right: 20px; 
  }
  
  .logo img {
    max-width: 150px; 
    height: auto;
  }
  
  @media (max-width: 768px) {
    .logo img {
      max-width: 80px; 
    }
  }
  
  @media (max-width: 480px) {
    .logo img {
      max-width: 60px; 
    }
  }
